<header class="fixed-top-bar border-b shadow-md p-3 w-full max-h-20 z-50 bg-surface-500">
  <p-menubar [model]="items" styleClass="bg-emphasis ">
    <ng-template pTemplate="start">
      <div class="flex align-items-center">   
        <span class="font-bold text-xl">KubeStream</span>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-sun mr-1 flex items-center my-auto" style="font-size: 1.2rem;"></i>
        <p-toggleswitch [(ngModel)]="isDarkMode"  (onChange)="toggleDarkMode()"  class="flex items-center my-auto"/>
        <i class="pi pi-moon ml-1 flex items-center my-auto" style="font-size: 1.2rem;"></i>
        <!-- User menu dropdown -->
        <p-splitButton *ngIf="isLoggedIn" icon="pi pi-user" [model]="userMenuItems" styleClass="p-button-text"></p-splitButton>
        <!-- Login/Register buttons -->
        <p-button *ngIf="!isLoggedIn" icon="pi pi-sign-in" label="Login" routerLink="/login"></p-button>
        <p-button *ngIf="!isLoggedIn" icon="pi pi-user-plus" label="Register" routerLink="/register"></p-button>
            </div>
          </ng-template>
        </p-menubar>
      </header>
