<div class="p-4 mt-16 ml-72">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Recommendation Cards -->
    <p-card styleClass="shadow-md" *ngFor="let stream of streams">
      <ng-template pTemplate="header">
        <div class="stream-thumbnail bg-surface-100 flex justify-center items-center h-48 rounded-t-lg">
          <span class="text-3xl text-surface-500"><i class="pi pi-video"></i></span>
        </div>
      </ng-template>
      <div>
        <h3 class="font-bold text-lg mb-1">{{stream.streamName}}</h3>
        <p class="mb-1">Streamer: {{stream.username}}</p>
        <p class="mb-2">Live Viewers: {{stream.currentViewers ?? 0}}</p>
      </div>
      <ng-template pTemplate="footer">
        <p-button label="Watch" icon="pi pi-play" styleClass="w-full" [routerLink]="['/stream', stream.id]"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>